section {
    background-image: url(../../../../assets/images/slider-1-1.jpg);
    padding-top: 120px;
    padding-bottom: 50px;
    font-size: 16px;
    font-family: var(--font) !important;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

:root {
    --font: Arial, Helvetica, sans-serif;
}

form {
    background-image: linear-gradient(rgb(13, 27, 63), rgb(13, 27, 63));
    box-shadow: 0 0 7px 3px rgb(199, 149, 74);
}

.edit-all-color {
    color: rgb(199, 149, 74);
}


.edit-color2 {
    color: #fff;
    background-color: rgb(199, 149, 74);
    border: transparent;
    transition: 0.3s all ease-in-out;
}

.edit-color2:hover{
    color: #C7954A;
    background-color: #fff;
}

.color-button-home2{
    background-color: #fff;
    border: transparent;
    transition: 0.3s all ease-in-out;
    color: #C7954A;
}

.color-button-home2:hover{
    background-color: #C7954A;
    color: #fff;
}