<!-- Start About -->
<header class="About py-5" id="about">
    <div class="container pt-5 px-md-5">
        <div class="About-content text-center pt-5">
            <h2 class="Aboutus" data-bigletter="المدونة">
                رد الاعتبار في القانون المصري
            </h2>
            <hr>

        </div>

        <div class="container-xxl py-5">
            <div class="row gy-4">

                <div>
                    <img src="../../../assets/images/slider-1-2.jpg" class="w-100" alt="">
                </div>
                <div class=" about-article pt-4">
                    <p>رد الاعتبار هو محو الآثار الجنائية للحكم بالإدانة، بحيث يأخذ المحكوم عليه وضعه فى المجتمع كأي
                        مواطن لم تصدر ضده أحكام جنائية ، ويهدف رد الاعتبار إلى التخفيف من الآثار الاجتماعية للأحكام
                        الجنائية والتي قد تقف صحيفة السوابق فيها عائقًا ضد المحكوم عليه في أن يشق طريقه العادي للعمل
                        والالتحاق بأى وظيفة.
                        ورد الاعتبار حق للمحكوم عليه إذا توافرت شروطه، ورد الاعتبار نظام قانوني أوردته معظم التشريعات
                        وذلك بهدف تمكين المحكوم عليه من الاندماج ثانية في المجتمع ، ورد الاعتبار يمكن المحكوم عليهم من
                        أن يستعيدوا حقوقهم السياسية والمدنية التي قد سلبت منهم وبالتالي يندمجون في المجتمع مستردين
                        مكانتهم السابقة قبل الحكم عليهم.
                        رد الاعتبار القضائي
                        هو مجموعة الإجراءات التي تتبع أمام جهة قضائية للحكم لطالبي رد الاعتبار بإعادة اعتبارهم إليهم
                        .وهو من اختصاص الجهة القضائية تفصل فيه حسبما يتراءى لها من ظروف الطالب عما إذا كان جديرًا برد
                        اعتباره إليه إذا حسن سيره منذ صدور الحكم عليه أم غير ذلك وقد نص قانون الإجراءات الجنائية على أنه
                        ( يجوز رد الاعتبار إلى كل محكوم عليه في جناية أو جنحة).
                        والنص جاء مطلقًا غير مقيد بقيد ، فلكل محكوم عليه في جناية أو جنحة أن يطلب رد اعتباره لسابقة
                        الحكم فيها سواء أكانت العقوبة مقيدة للحرية أم عقوبة مالية .
                        ورد الاعتبار لا يجوز للمحكوم عليه إلا مرة واحدة فلا يجوز لمن حكم برد اعتباره وارتكب جريمة حكم
                        عليه فيها أن يجدد طلبه مرة ثانية، إذ هذا النوع من المجرمين غير جديرين باحترام القانون لهم
                        ورعايتهم ما دام قد ساء سلوكهم وعادوا إلى حياتهم الإجرامية السابقة على رد الاعتبار.
                        اقرأ ايضا عن : الصور والفيديوهات كدليل لاثبات الجريمه
                        شروط رد الاعتبار القضائي
                        : توجب توافر ثلاثة شروط لإمكان الحكم برد الاعتبار
                        الأول : تنفيذ العقوبة
                        الثاني : وفاء جميع الالتزامات المالية
                        والثالث : مرور فترة هي مدة الاختبار المقررة في القانون دون أن يشوبها أية شائبة
                        (ولقد ضاعف القانون المدة في حالة الحكم للعود لحكمة رآها هي أن من حكم عليه بعقوبة مشددة لسبق
                        الحكم عليه في جريمة مماثلة له يجب أن تمر فترة كافية لاختباره والوثوق من أنه قد ارتدع وقوم نفسه ،
                        كما أن المشرع ضاعف المدة في حالة سقوط العقوبة بمضي المدة لنفس الحكمة السابقة إذ أن المحكوم عليه
                        لم يرتدع من صدور الحكم عليه بالعقوبة لعدم تنفيذها عليه ويتعين انتظار فترة من الزمن لإمكان الحكم
                        على سيره وسلوكه ) ، ولا شك أن هذه المدد تبدأ من تاريخ انتهاء تنفيذ العقوبة أو تاريخ انقضاء
                        التنفيذ إذا أفرج عن المحكوم عليه تحت شرط, أما إذا حكم على طالب رد الاعتبار علاوة على العقوبة
                        بالمراقبة مدة من الزمن فتبدأ المدة من اليوم الذي تنتهي فيه مدة المراقبة, وفي حالة العفو تبدأ
                        المدة من تاريخ خطاب العفو .
                        فإذا ما توافرت هذه الشروط ورأت المحكمة أن سلوك طالب رد الاعتبار يدعو إلى الثقة بتقديم نفسه ،
                        تحكم برد اعتباره إليه وإلا يتعين رفض الطلب وفي حالة رفض الطلب لا يجوز تجديد الطلب بسبب رفضه لسوء
                        سلوك الطالب إلا بعد سنتين من هذا الرفض ، أما إذا كان سبب الرفض هو أن المحكوم عليه لم ينفذ سائر
                        الشروط الأخرى فيجوز تجديد الطلب متى توافرت هذه الشروط.
                        ولقد نص قانون الإجراءات الجنائية على أنه يجوز إلغاء الحكم الصادر برد الاعتبار إذا ظهر أن المحكوم
                        عليه صدرت ضده أحكام أخرى لم تكن المحكمة قد علمت بها أو حكم عليه فيها بعد رد الاعتبار في جريمة
                        وقعت قبله وذلك بناءً على طلب من النيابة العامة .
                        رد الاعتبار القانوني
                        هو يتقرر بحكم القانون فمجرد مرور مدة يعينها القانون دون ارتكاب المحكوم عليه جرائم في خلالها
                        يتعين رد اعتباره من تلقاء نفسه دون حاجة إلى اللجوء إلى السلطة القضائية فهو رد اعتبار حتمي.
                        تنص المادة 550 من قانون الإجراءات الجنائية المصري على أنه “يرد الاعتبار بحكم القانون إذا لم
                        يَصدُر خلال الآجال الآتية على المحكوم عليه بعقوبة جِناية أو جُنحة مما يحفظ عنه صحيفة بقلم 
                        السوابق:
                        أولاً :- بالنسبة إلى المحكوم عليه بعقوبة جناية أو بعقوبة جنحة فى جريمة سرقة أو إخفاء أشياء
                        مسروقة أو نصب أو خيانة أمانة أو تزوير أو شروع فى هذه الجرائم وفي الجرائم المنصوص عليها فى المواد
                        355 ، 356 ، 367 ، 368 من قانون العقوبات متى مضي على تنفيذ العقوبة أو العفو عنها أو سقوطها بمضي
                        المدة إثنتا عشرة سنة.
                        بالنسبة إلى المحكوم عليه بعقوبة جنحة فى غير ما ذكر متى مضي على تنفيذ العقوبة أو العفو عنها ست
                        سنوات ، إلاا إذا كان الحكم قد اعتبر المحكوم عليه عائداً ، أو كانت العقوبة قد سقطت بمضي المدة
                        فتكون المدة إثنتا عشرة سنة”</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End About -->