/* Start About */
.About{
  background-image: url(../../../assets/images/imageedit_3_9486878882.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #19223a;
}

.Aboutus{
    position: relative;
    color: #C7954A;
}

.Aboutus::before{
    content: attr(data-bigletter);
    position: absolute;
    font-size: 2em;
    opacity: .06;
    top: -0.5em;
    left: 0;
    right: 0;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
}

.About-content hr{
    width: 40px;
    border-top: 2px solid #C7954A;
    margin: 0 auto 20px;
    transition: all .3s;
}

.About-content:hover hr{
    width: 80px;
}

.about-article p{
    color: #D5E2F0;
}
/* End About */