*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 70% !important;
}

:root{
    --font: "Poppins", sans-serif;
}

body{
     direction: rtl;
  text-align: right;
  font-family: 'Cairo', sans-serif; 
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}


/* global */
@media (max-width: 1200px) {
    .container{
        width: 100% !important;
    }
}